<div class="productsContainer">
    <h1>All products</h1>
    <div class="products">
        {{#each products}}
        <div class="cardContainer">
            <div class="cardInformation">
                <img class="cardImg" src={{this.thumbnails}} alt={{this.title}}>
                <h3 class="cardTitle">{{this.title}}</h3>
                <p class="cardDescription">{{this.description}}</p>
                <p class="cardPrice">Price: ${{this.price}}</p>
                <a href="/api/product/{{this.id}}" class=""><button class="cardButton">Go detail</button></a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="buttonContainer">
        <a href="http://localhost:{{PORT}}/api/products"><button class="linkButton">Go to Real TIme
                Products</button></a>
    </div>
</div>